body {
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(205, 201, 201);
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
.tasksBlock {
    width: 60%;
    margin: 20px auto 0;
}
